@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
}

.navbar-brand {
  color: #6070ff !important;
}

.nav-link {
  color: #344563 !important;
}

.connect {
  color: #7f8cff;
}
.about-myself {
  margin-top: 10rem !important;
  margin-bottom: 10rem !important;
}

.s-width {
  width: 15% !important;
}

.contact {
  background-image: url(img/form-bg.svg), url(img/contact-bg-desktop.svg);
  background-size: cover, cover;
  padding-top: 10em !important;
  padding-bottom: 10em !important;
  background: #6070ff;
  border-top-left-radius: 55pt 25pt;
}
