@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
}

.navbar-brand {
  color: #6070ff !important;
}

.nav-link {
  color: #344563 !important;
}

.connect {
  color: #7f8cff;
}
.about-myself{
  margin-top:10rem!important;
  margin-bottom:10rem!important;
}

.s-width{
  width: 15% !important;
}